/***********Base styles**********/
 *{
 	box-sizing: border-box;
 	font-family: 'PT Sans Narrow', sans-serif;
 }
p {
	color: black;
}
  .b1 { 
	padding: 0px 0px 0px 0px;
	margin-top: 0px; 
	font-size: 20px;
	border: 1px solid black;
	text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: #999999; 
}

h1 {
	font-size: 4.5em;
	text-align: center;
	margin-left: 50px;
}
h2 {
	font-size: 1.5em;
	color: black;
	margin-top: 5px;
}

.row {
	width: 100%;
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;    
}
.container-fluid{
	height: auto;
	margin: 10px 10px 10px 10px;
	padding: 0px;
}
.container {
	height: 80px;
	margin: 0px 0px 0px 0px;
}
/**HEADER**/
#header-nav {
	background-color: #999999;
	border: 3px solid black;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	height: auto;
}
h3 {
	font-size: 3.0em;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;

}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none; 
}
#nav-list a {
  color: black;
  text-align: center;
  font-size: 20px;
}
hr.r1 {
	width: 100%;
	border-top: 2px solid #101010;
}
hr.r2{
	width: 100%;
	border-top: 2px solid #101010;
}
#collapsable-nav {
	background-color: white;	
}
#L1 {
	height: 30px;
}
#L2 {
	height: 68px;
}
#L3 {
	height: 88px;
	;
}